<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="IPlexorInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.PlexorInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IInspectionInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.InspectionInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IInitializationActivityControl" type="Inspector.BusinessLogic.InitializationActivityControl, Inspector.BusinessLogic" singleton="true" />
      <object id="IInspectionActivityControl" type="Inspector.BusinessLogic.InspectionActivityControl, Inspector.BusinessLogic" singleton="true" />
      <object id="ICommunicationControl" type="Inspector.Connection.Manager.CommunicationControl, Inspector.Connection.Manager" singleton="true" />
      <object id="IConnectionStateMachine" type="Inspector.Connection.ConnectionStateMachine, Inspector.Connection.StateMachine" singleton="true" />
      <object id="IReportControl" type="Inspector.BusinessLogic.Data.Reporting.Results.ReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true" />
      <object id="IMeasurementReportControl" type="Inspector.BusinessLogic.Data.Reporting.Measurements.MeasurementReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true" />
      <object id="IStationInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.StationInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IHal" type="Inspector.Hal.Stub.BluetoothHalSequentialStub, Inspector.Hal.Stub" singleton="true" />
      <object id="IBluetoothDongleInformationManager" type="Inspector.BusinessLogic.Data.Configuration.HardwareConfiguration.BluetoothDongleInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
    </objects>
  </spring>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
