<?xml version="1.0"?>
<configuration>
  <configSections>
    
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false"/>
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="IPlexorInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.PlexorInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true"/>
      <object id="IInspectionInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.InspectionInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true"/>
      <object id="IInitializationActivityControl" type="Inspector.BusinessLogic.InitializationActivityControl, Inspector.BusinessLogic" singleton="true"/>
      <object id="IInspectionActivityControl" type="Inspector.BusinessLogic.InspectionActivityControl, Inspector.BusinessLogic" singleton="true"/>
      <object id="ICommunicationControl" type="Inspector.Connection.Manager.CommunicationControl, Inspector.Connection.Manager" singleton="true"/>
      <object id="IConnectionStateMachine" type="Inspector.Connection.ConnectionStateMachine, Inspector.Connection.StateMachine" singleton="true"/>
      <object id="IHal" type="Inspector.Hal.BluetoothHal, Inspector.Hal" singleton="true"/>
      <!--<object id="IHal" type="Inspector.Hal.BluetoothHalDemoMode, Inspector.Hal" singleton="true"/>-->
      <object id="IReportControl" type="Inspector.BusinessLogic.Data.Reporting.Results.ReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true"/>
      <object id="IMeasurementReportControl" type="Inspector.BusinessLogic.Data.Reporting.Measurements.MeasurementReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true"/>
      <object id="IStationInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.StationInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true"/>
      <object id="IBluetoothDongleInformationManager" type="Inspector.BusinessLogic.Data.Configuration.HardwareConfiguration.BluetoothDongleInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true"/>
      <object id="IInspectionResultReader" type="Inspector.BusinessLogic.Data.Reporting.Results.InspectionResultReader, Inspector.BusinessLogic.Data.Reporting" singleton="true"/>
    </objects>
  </spring>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <log4net>
    <appender name="General" type="log4net.Appender.FileAppender" additivity="false">
      <file value="Inspector.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n"/>
      </layout>
    </appender>
    <appender name="CommunicationLoggerAppender" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="${ProgramData}\ws-gas\Inspector\communication.log"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="General"/>
    </root>
    <logger name="CommunicationLogger" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="CommunicationLoggerAppender"/>
    </logger>
  </log4net>
</configuration>
