<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects xmlns="http://www.springframework.net">
      <object id="IPlexorInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.PlexorInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IInspectionInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.InspectionInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IInitializationActivityControl" type="Inspector.BusinessLogic.InitializationActivityControl, Inspector.BusinessLogic" singleton="true" />
      <object id="IInspectionActivityControl" type="Inspector.BusinessLogic.InspectionActivityControl, Inspector.BusinessLogic" singleton="true" />
      <object id="ICommunicationControl" type="Inspector.Connection.Manager.CommunicationControl, Inspector.Connection.Manager" singleton="true" />
      <object id="IConnectionStateMachine" type="Inspector.Connection.ConnectionStateMachine, Inspector.Connection.StateMachine" singleton="true" />
	  <object id="IHal" type="Inspector.Hal.BluetoothHalDemoMode, Inspector.Hal" singleton="true" />
      <object id="IReportControl" type="Inspector.BusinessLogic.Data.Reporting.Results.ReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true" />
      <object id="IMeasurementReportControl" type="Inspector.BusinessLogic.Data.Reporting.Measurements.MeasurementReportControl, Inspector.BusinessLogic.Data.Reporting" singleton="true" />
      <object id="IStationInformationManager" type="Inspector.BusinessLogic.Data.Configuration.InspectionManager.Managers.StationInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IBluetoothDongleInformationManager" type="Inspector.BusinessLogic.Data.Configuration.HardwareConfiguration.BluetoothDongleInformationManager, Inspector.BusinessLogic.Data.Configuration" singleton="true" />
      <object id="IInspectionResultReader" type="Inspector.BusinessLogic.Data.Reporting.Results.InspectionResultReader, Inspector.BusinessLogic.Data.Reporting" singleton="true" />
    </objects>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <log4net>
    <appender name="General" type="log4net.Appender.FileAppender" additivity="false">
      <file value="Inspector.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n" />
      </layout>
    </appender>
    <appender name="CommunicationLoggerAppender" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="${ProgramData}\ws-gas\CONNEXION V5.x\INSPECTORPC\Logging\communication.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="General" />
    </root>
    <logger name="CommunicationLogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="CommunicationLoggerAppender" />
    </logger>
    

    <appender name="INSPECTORGUILoggerAppender" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="${ProgramData}\ws-gas\CONNEXION V5.x\INSPECTORPC\Logging\INSPECTORGUI.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="General" />
    </root>
    <logger name="INSPECTORGUILogger" additivity="false">
      <level value="ALL" />
      <appender-ref ref="INSPECTORGUILoggerAppender" />
    </logger>

    <appender name="REPORTCONTROLLoggerAppender" type="log4net.Appender.RollingFileAppender" additivity="false">
      <file value="${ProgramData}\ws-gas\CONNEXION V5.x\INSPECTORPC\Logging\REPORTCONTROL.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] [%logger] %-5p - %m%n" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="General" />
    </root>
    <logger name="ReportControl" additivity="false">
      <level value="ALL" />
      <appender-ref ref="REPORTCONTROLLoggerAppender" />
    </logger>

  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Binder" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="StationInformationJsonPath" value="stationInformation.json"/>
		<add key="StationInformationAPIUrl" value="api/v1/inspector-device/station-information"/>
		<add key="InspectionProcedureJsonPath" value="inspectionProcedure.json"/>
		<add key="PlexorInformationJsonPath" value="plexor.json"/>
		<add key="PlexorInformationAPIUrl" value="api/v1/inspector-device/plexor-devices"/>
		<add key="UnitSectionAPIUrl" value="api/v1/inspector-device/units"/>
		<add key="InspectionProcedureAPIUrl" value="api/v1/inspector-device/inspection-procedures"/>
		<add key="InspectionResultUrl" value="api/v1/inspector-device/inspection-results"/>
		<add key="ApiBaseUrl" value="http://api.plexor.online:8000/api/v1/"/>
		<add key="AuthToken" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkZXZpY2VfbG9naW5fdG9rZW4iLCJkZXZpY2Vfa2V5IjoiTEFCLUxFT0tMQS1HQ1BXLUEwOjU5OjUwOjU4OjdCOjIyIiwiY3VzdG9tZXJfaWQiOiI5ODYzNjQ3YS01ZWIyLTQ1MTgtOWVlOS1kY2FkZDg4ZjZlOGUiLCJkZXZpY2VfaWQiOiJlZjIzNzhjNy04YzZhLTQ2MzctYjIyYy04MzIyZjM4ODQ5NjkiLCJleHAiOjE3MjEyOTEwOTJ9.ryLqLXtQwGaFFeTprkNuyYDVfd-DCYravIWYFdY7Its"/>
		<add key="LoginUrl" value="api/v1/inspector-device/login"/>
		<add key="DeviceStatusUrl" value="api/v1/inspector-device/status"/>
		<add key="LicenseInfo" value="LicenseInfo"/>
		<add key="InspectorApiInfo" value="InspectorApiInfo"/>
		<add key="RegistryPath64Bit" value="HKEY_LOCAL_MACHINE\SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\UnInstall\"/>
		<add key="RegistryPath" value="HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\UnInstall\"/>
		<add key="InspectorPCBaseUrl" value="InspectorBaseUrl"/>
		<add key="ResultJsonFilePath" value="result.json"/>
	</appSettings>
</configuration>
